@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0d0208;
  --secondary: #00ff41;
}

@layer components {
  .heroButton {
    @apply pt-2 tracking-wider text-gray-500 text-sm uppercase hover:text-[var(--secondary)];
  }
  .subTitle {
    @apply mt-20 uppercase text-gray-500 text-xl tracking-[20px] -mr-[20px];
  }
  .section {
    @apply flex flex-col text-center h-screen mx-auto items-center overflow-hidden;
  }
}
body {
  overflow: hidden;
}

.radial {
  background: radial-gradient(
      ellipse closest-side,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url('../public/stalker-campfire.gif');

  background-size: cover;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
